# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db

# Virtual environment
.venv/
venv/
env/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Streamlit logs
.streamlit/

# Temporary folders
temp_uploads/
resumes_to_process/
